body { margin : 0; padding: 0;}
header, footer { background-color: #579c87; }
header a , footer a { color : #fdcb46; text-decoration: none; }


@font-face {  font-family: 'font_menu_1';  src: url('Devonshire-Regular.ttf') format('truetype'); }
@font-face {  font-family: 'font_menu_2';  src: url('Kurale-Regular.ttf') format('truetype'); }
@font-face {  font-family: 'font_menu_3';  src: url('DancingScript-VariableFont_wght.ttf') format('truetype'); }
@font-face {  font-family: 'font_menu_4';  src: url('KaushanScript-Regular.ttf') format('truetype'); }
@font-face {  font-family: 'font_menu';  src: url('Itim-Regular.ttf') format('truetype'); }
@font-face {  font-family: 'font_titre';  src: url('Montserrat-Medium.ttf') format('truetype'); }


header , footer  { font-family: 'font_titre';  }


#mention h4 { transform: scale(1.1); padding-left: 15px; }
#contact h4 { transform: scale(1.1); padding-right: 15px;}

header { height: 70px;}

header h1 {  
    margin-top : 0;
    font-size: 50px; 
    padding-top: 5px;
    text-align: center;

 }


footer {
    position: fixed;
    bottom: 0;
    width : 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


main { text-align: center;}
main h1 { font-size: 70px; font-family: "font_titre";}

/* CSS GENERAL DES MENUS */

#note_enchantee , #chic_francaise , #delice_papilles , #palette_gout { 
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px grey;
    width : 70%;
    margin-bottom: 100px;
}

#note_enchantee h2 , #chic_francaise h2 , #delice_papilles h2 , #palette_gout h2 { font-size: 45px;}
#note_enchantee h3 , #chic_francaise h3 , #delice_papilles h3, #palette_gout h3 { font-size: 25px;}

td { font-size: 20px; vertical-align: top;}

table { width : 100%; }
.plat { text-align: left;}
.prix { text-align: right; }

#menu_1 table , #menu_2 table , #menu_3 table , #menu_4 table { padding-left: 50px; padding-right: 50px; }
#note_enchantee i , #mettre_appetit , #commencer , #esquisse { margin-top: 150px;} 

#gourmandises_sucrees , #sommet , #terminer { margin-bottom: 150px;}



                                        /* Design des traits */

.trait_menu_1_gauche , 
.trait_menu_1_droit , 
.trait_menu_2_mettre_appetit , 
.trait_menu_2_plaisir_papilles , 
.trait_menu_2_gourmandises_sucrees , 
.trait_menu_3_commencer ,
.trait_menu_3_continuer ,
.trait_menu_3_terminer ,
.trait_menu_4_gauche ,
.trait_menu_4_droite  { width: 30%;  }


.trait_menu_1_gauche hr , .trait_menu_1_droit hr { background-color: #3c1218; height: 5px; border: none; border-radius: 20%;}

.trait_menu_2_mettre_appetit hr { background-color: #d8852e; height: 5px; border: none; border-radius: 20%;}
.trait_menu_2_plaisir_papilles hr { background-color: #A38DB0 ; height: 5px; border: none; border-radius: 20%;}
.trait_menu_2_gourmandises_sucrees hr { background-color: #905bfd ; height: 5px; border: none; border-radius: 20%;}

.trait_menu_3_commencer hr { background-color: #082be1; height: 5px; border: none; border-radius: 20%;}
.trait_menu_3_continuer hr { background-color: #4A85F3 ; height: 5px; border: none; border-radius: 20%;}
.trait_menu_3_terminer hr { background-color: #78c3ff; height: 5px; border: none; border-radius: 20%;}

.trait_menu_4_gauche hr , .trait_menu_4_droite hr { height: 5px; border: none; border-radius: 20%; }

.trait_menu_4_gauche hr   { background: linear-gradient(to right, #33812d, #b5ff87 ); }
.trait_menu_4_droite hr { background : linear-gradient(to left , #33812d, #b5ff87 ); }


#note_enchantee h3 , #chic_francaise h3 , #delice_papilles h3 , #palette_gout h3 { margin : 0; }



/* DESIGN HOVER SURLIGNE */

h3:hover::after { transform: scaleX(1); }


h3::after {
      content: "";
      border-top: solid 3px;
      display: block;
      transform: scaleX(0);
      transition: 1s;
      transform-origin: 0% 50%; 
}

#menu_4 h3::after   {
    border-top: solid 3px #b5ff87;
}

#commencer h3::after   {
    border-top: solid 3px #082be1;
}

#continuer h3::after   {
    border-top: solid 3px #4A85F3;
}

#terminer h3::after   {
    border-top: solid 3px #78c3ff;
}

                                                /* CSS MENU LA NOTE ENCHANTEE */

#menu_1 {color : #3c1218; }

#note_enchantee { 
    background-color: #fcdfdb;
    font-family: "font_menu_1";
}




#note_enchantee i { font-size: 110px; }


#note_enchantee_bottom i , #note_enchantee_bottom h2 { 
    display: inline-block;
    font-size: 55px;  }


/* Degradé couleur */

#note_enchantee i {

    background-image: linear-gradient(to right, #f04a5e, #f78f6a );  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
     background-clip: text;
    color: transparent; }


                                                                    /* CSS MENU LE CHIC A LA FRANCAISE */

#chic_francaise {
    background-color: #f8ddf6;
    font-family: "font_menu_2";
}

#mettre_appetit { color : #d8852e; }
#plaisir_papilles { color : #A38DB0; }
#gourmandises_sucrees { color : #905bfd; }



/* Dégradé couleur */

#chic_francaise h2 , #menu_2 h1 {

    background-image: linear-gradient(to right, #d8852e, #905bfd );  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
    }


                                                    /* CSS MENU LE DELICE DES PAPILLES */

#delice_papilles {
    background-color: #eceeee;
    font-family: "font_menu_3";
}


/* Dégradé couleur */

#delice_papilles h2 , #menu_3 h1 {

    background-image: linear-gradient(to right, #082be1, #78c3ff );  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
    }



                                                /* CSS MENU LA PALETTE DU GOUT */

#palette_gout {
    font-family: "font_menu_4";
    background-color: white;
}


/* Dégradé couleur */

#palette_gout h2 , #menu_4 h1 {

    background-image: linear-gradient(to right, #33812d, #b5ff87 );  
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
    }


/* Effet vibration Mentions légales et Contactez-Nous */

@keyframes secouer {

    0% { transform: rotate(0deg)  }
   25% { transform: rotate(1deg) translateX(1%) translateY(1%); }
   75% { transform: rotate(-1deg) translateX(-1%) translateY(-1%) ; }
  100% { transform: rotate(0deg) translateX(0) translateY(0); }
    
    }

#mention:hover , #contact:hover {
    animation : secouer 100ms ;
    animation-iteration-count: 8; }

    /* Tablette version */

    @media all and (max-width : 1080px) {

        #note_enchantee , #chic_francaise , #delice_papilles , #palette_gout { width : 90%; }
        td { font-size: 15px; } 
        #menu_1 table , #menu_2 table , #menu_3 table , #menu_4 table { padding-left: 15px; padding-right: 15px; }
        #note_enchantee i , #mettre_appetit , #commencer , #esquisse { margin-top: 50px;} 
    }   


/* Version Smartphone */


@media all and (max-width : 700px) {

    
    header { min-width: 300px;}
    #mention h4 { transform: scale(1);  }
    #contact h4 { transform: scale(1); }
    td { display: block; font-size: 20px;}
    tr { border-bottom : 1px solid black;}
    .prix , .plat { text-align: center;}
    #note_enchantee h2 , #chic_francaise h2 , #delice_papilles h2 , #palette_gout h2 { font-size: 30px;}
    #note_enchantee h3 , #chic_francaise h3 , #delice_papilles h3, #palette_gout h3 { font-size: 20px;}
    #note_enchantee i , #mettre_appetit , #commencer , #esquisse { margin-top: 50px;} 
    main h1 { font-size: 30px;}
    #menu_1 table , #menu_2 table , #menu_3 table , #menu_4 table { padding-left: 3px; padding-right: 3px; }
    #gourmandises_sucrees , #sommet , #terminer { margin-bottom: 50px;}
    hr { visibility: hidden;}


}
